<html>
  <head>
    <link rel="stylesheet" type="text/css" href="app.css">
  </head>
  <body>
    <!-- <h3>Remotr</h3> -->
    <ul class="options">
      <li class="direction" id="previous">Previous</li>
      <li class="notes" id="notes">Notes</li>
      <li class="direction" id="next">Next</li>
    </ul>
    <div id="notes_content"></div>
  </body>

  <script type="text/javascript" src="chibi-min.js"></script>
  <script type="text/javascript">
    $("#notes").on('click',function(){
      $().ajax("/notes/current", null, function(result){
        $("#notes_content").html(result);
      });
    });
    $("#previous").on('click',function(){
      $().ajax("/show/previous");
    });
    $("#next").on('click',function(){
      $().ajax("/show/next");
    });
  </script>
</html>
