<html>
  <head>
  </head>
  <body>
    <h3>Remotr</h3>
    <div id="notes_content"></div>
    <p>
    	<a id="previous" href="#" title="previous"> << </a>
      <a id="notes" href="#">notes</a>
      <a id="next" href="#"> >> </a>
    </p>
  </body>

  <script type="text/javascript" src="chibi-min.js"></script>
  <script type="text/javascript">
    $("#notes").on('click',function(){
      $().ajax("/notes/current", null, function(result){
        $("#notes_content").html(result);
      });
    });
    $("#previous").on('click',function(){
      $().ajax("/show/previous");
    });
    $("#next").on('click',function(){
      $().ajax("/show/next");
    });
  </script>
</html>
