<html>
  <body>
    <h3>Remotr</h3>
    <div id="notes"></div>
    <p>
      <a name="notes" href="#">note</a>
    	<a name="previous" href="#">previous</a>
      <a name="next" href="#">next</a>
    </p>
  </body>

  <script type="text/javascript" src="chibi-min.js"></script>
  <script type="text/javascript">
    function setup_buttons(link){
      click_to = $(link).attr('name');
      if(click_to === "notes"){
        $(link).on('click', function(){
          $().ajax("/notes/current", "", function(content){
            $("#notes").html(content);
          });
        });
      }else{
        $(link).on('click', function(){ $().ajax("/show/"+click_to); } );
      }
    }
    $("a").loop(setup_buttons);
  </script>
</html>
